<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="AutoModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WPFekzam.AutoModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AutoShopEntities" connectionString="metadata=res://*/AutoModel.AutoModel.csdl|res://*/AutoModel.AutoModel.ssdl|res://*/AutoModel.AutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AutoShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopAuto" connectionString="metadata=res://*/AutoModel.csdl|res://*/AutoModel.ssdl|res://*/AutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ShopAuto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShopAutoEntities" connectionString="metadata=res://*/AutoModel.csdl|res://*/AutoModel.ssdl|res://*/AutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ShopAuto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>